ul {
    width: 100%;
    margin: 300px 390px;
    display: flex;
}


ul li {
    width: 20px;
    height: 20px;
    margin: 30px;
    border-radius: 100%;
    list-style: none;
    animation: anim 3s linear infinite;
}

@keyframes anim {

    0%,
    100% {
        transform: scale(0);
        background: rgb(24, 27, 27);
    }

    50% {
        transform: scale(1);
        background: rgb(16, 248, 248);

    }
}

ul li:nth-child(2) {
    animation-delay: 0.2s;
}

ul li:nth-child(3) {
    animation-delay: 0.4s;
}

ul li:nth-child(4) {
    animation-delay: 0.6s;
}

ul li:nth-child(5) {
    animation-delay: 0.8s;
}

ul li:nth-child(6) {
    animation-delay: 1s;
}